.repo-list
  p-table(
    '[value]'="repos"
    dataKey="id"
    selectionMode="single"
    sortField="name"
    '[loading]'="isLoading"
    '[(selection)]'="selectedRepo"
    '(onRowSelect)'="onRepoSelect($event)"
  )
    ng-template(pTemplate="header")
      tr
        th(pSortableColumn="name")
          span Name
          p-sortIcon(field="name")
        th(pSortableColumn="language")
          span Language
          p-sortIcon(field="language")
        th(pSortableColumn="pushed_at")
          span Last Push
          p-sortIcon(field="pushed_at")
        th(pSortableColumn="archived")
          span Archived?
          p-sortIcon(field="archived")
        th Repo Url
    ng-template(pTemplate="body" let-repo="")
      tr(
        '[pSelectableRow]'="repo"
        '(dblclick)'="onRepoDoubleClick($event)"
      )
        td {{ repo.name }}
        td {{ repo.language }}
        td {{ repo.pushed_at | date: 'dd, MM, YYYY, HH:MM' }}
        td
          i.pi.pi-check(*ngIf="repo.archived")
        td
          a(href="{{ repo.html_url }}" target="_blank") Repo Url

  p-paginator(
    '[rows]'="rowsPerPage"
    '[totalRecords]'="repoTotalCount"
    '[rowsPerPageOptions]'="[10, 50, 100]"
    '[showCurrentPageReport]'="true"
    '(onPageChange)'="onPageChange($event)"
  )